@font-face {
   font-family: 'Papyrus-Regular';
   src: url('Papyrus-Regular.eot?#iefix') format('embedded-opentype'), url('Papyrus-Regular.woff') format('woff'), url('Papyrus-Regular.ttf') format('truetype'), url('Papyrus-Regular.svg#Papyrus-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
}